* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 20px;
}

body {
  background: #000;
  color: white;
  font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
  font-size: 20px;
  font-size: 1rem;
}

h2 {
  font-size: 20px;
  font-size: 1rem;
}

a {
  color: #fff;
}
a:hover {
  color: #333333;
}

.no-mix-blend-mode .mix-blend-mode {
  display: none;
}

.icon-wrapper {
  width: 100%;
  padding: 16px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 639px) {
  .icon-wrapper {
    flex-basis: 160px;
    height: 192px;
  }
}
@media screen and (min-width: 640px) {
  .icon-wrapper {
    padding: 32px;
    flex-basis: 320px;
    height: 368px;
  }
}
.icon-wrapper .title {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
  color: #fff;
}
@media screen and (min-width: 640px) {
  .icon-wrapper .title {
    margin: 16px auto 0;
    font-size: 30px;
    font-size: 1.5rem;
    bottom: 20px;
  }
}

.icon {
  border-radius: 22.53125%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 200%;
  height: 256px;
  margin: 0 auto;
  position: relative;
  width: 256px;
  z-index: 0;
  -webkit-user-select: none;
  transform: scale(0.5);
  transform-origin: 0 0;
}
@media screen and (min-width: 640px) {
  .icon {
    transform: scale(1);
  }
}
.icon.blank {
  background: none;
  box-shadow: 0, 0, 0, transparent;
}
.icon.wip {
  background-size: cover;
  background: url(../images/guide.png) no-repeat center;
}

.calendar {
  background: #fff;
}
.calendar .month {
  text-align: center;
  overflow: hidden;
  height: 17%;
  margin: 13% 0 0;
  float: left;
  width: 100%;
  color: #d62338;
}
.calendar .month p {
  margin: 0;
  line-height: 1;
  letter-spacing: -2px;
  font-size: 40px;
  font-size: 2rem;
}
.calendar .day {
  width: 100%;
  margin: 0 auto;
}
.calendar .day p {
  color: black;
  text-align: center;
  font-size: 525%;
  line-height: 0;
  font-family: 'HelveticaNeue-UltraLight', Helvetica, sans-serif;
  letter-spacing: -25px;
  text-indent: -16%;
  margin: 29% 0 0 0;
}
.calendar .one {
  position: absolute;
  top: 38%;
  left: 23%;
  overflow: hidden;
  display: block;
  width: 12%;
  height: 44.5%;
  border-right: 3px solid #000;
}
.calendar .one:after {
  content: '';
  position: absolute;
  top: -32%;
  left: -90%;
  width: 250%;
  height: 35%;
  display: block;
  border: 3px solid #000;
  transform: rotateZ(-51deg);
  border-radius: 50%;
}
.calendar .zero {
  position: absolute;
  top: 37%;
  left: 43%;
  overflow: hidden;
  display: block;
  width: 32%;
  height: 44%;
  border: 3px solid #000;
  border-radius: 49%;
}

.camera {
  background: #76797f;
  background: linear-gradient(to bottom, #d3d4d5 0%, #76797f 100%);
}
.camera .camera-nub,
.camera .camera-top,
.camera .camera-middle,
.camera .camera-bottom {
  margin: 0 15%;
  float: left;
  width: 70%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.6);
  height: 15px;
}
.camera .camera-nub {
  margin: 19% 36% 0;
  height: 20px;
  border: none;
  background: linear-gradient(#393939, #353535);
  width: 28%;
  border-radius: 14px 14px 0 0;
  position: relative;
}
.camera .camera-nub-reverse-corner-left {
  display: block;
  width: 12px;
  bottom: 0;
  right: 97.35%;
  position: absolute;
  background: linear-gradient(#373737, #353535);
  height: 12px;
}
.camera .camera-nub-reverse-corner-left:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  right: 4px;
  width: 20px;
  height: 20px;
  background: linear-gradient(-190deg, #c2c3c5, #babcbe);
  border-radius: 100% 0 100% 100%;
  transform: rotate(33deg);
  box-shadow: 5px 1px 1px rgba(0, 0, 0, 0.1);
}
.camera .camera-nub-reverse-corner-left:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  right: 24px;
  width: 15px;
  height: 5px;
  background: #363636;
  border-radius: 90% 90% 0 0;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.6);
}
.camera .camera-nub-reverse-corner-right {
  display: block;
  width: 12px;
  bottom: 0;
  left: 97.35%;
  position: absolute;
  background: linear-gradient(#373737, #353535);
  height: 12px;
}
.camera .camera-nub-reverse-corner-right:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 4px;
  width: 20px;
  height: 20px;
  background: linear-gradient(190deg, #c2c3c5, #babcbe);
  border-radius: 0 100% 100% 100%;
  transform: rotate(-33deg);
  box-shadow: -5px 1px 1px rgba(0, 0, 0, 0.1);
}
.camera .camera-top {
  background: linear-gradient(#353535, #333333);
  box-shadow: none;
  border-radius: 10px 10px 0 0;
}
.camera .camera-middle {
  background: linear-gradient(#313131, #202020);
  height: 97px;
  position: relative;
}
.camera .camera-middle:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 77px;
  height: 77px;
  border: 6px solid #9ea1a5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), inset 0 2px 3px rgba(0, 0, 0, 0.6);
}
.camera .camera-middle:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 9px;
  height: 9px;
  top: 9px;
  left: 126px;
  background: #f9b400;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), inset 0 2px 3px rgba(255, 255, 255, 0.5);
}
.camera .camera-bottom {
  background: linear-gradient(#202020, #202020);
  height: 15px;
  border-radius: 0 0 10px 10px;
}

.clock {
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.clock .face {
  position: relative;
  top: 6%;
  left: 6%;
  float: left;
  width: 88%;
  height: 88%;
  background: linear-gradient(#ebebeb, #ebebeb, #eeeeee);
  border-radius: 50%;
}
.clock .number {
  font-size: 22px;
  font-size: 1.1rem;
  position: absolute;
  box-sizing: border-box;
  padding: 5%;
  color: #000;
}
.clock .twelveSix {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.clock .twelveSix:after {
  content: '6';
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
}
.clock .oneEleven {
  top: 6%;
  bottom: 10%;
  left: 18%;
  width: 60%;
  text-align: right;
}
.clock .oneEleven:after {
  content: '11';
  position: absolute;
  top: 6%;
  left: 11%;
  text-align: left;
}
.clock .twoTen {
  top: 21%;
  bottom: 20%;
  right: 8%;
  width: 84%;
  text-align: right;
}
.clock .twoTen:after {
  content: '10';
  position: absolute;
  top: 8%;
  left: 3%;
  text-align: left;
}
.clock .threeNine {
  top: 39.7%;
  left: 0;
  width: 100%;
  text-align: right;
}
.clock .threeNine:after {
  content: '9';
  position: absolute;
  left: 5%;
  width: 100%;
  text-align: left;
}
.clock .fourEight {
  bottom: 21%;
  right: 8%;
  width: 84%;
  text-align: right;
}
.clock .fourEight:after {
  content: '8';
  position: absolute;
  bottom: 21%;
  left: 5%;
  text-align: left;
}
.clock .fiveSeven {
  bottom: 6%;
  left: 18%;
  width: 60%;
  text-align: right;
}
.clock .fiveSeven:after {
  content: '7';
  position: absolute;
  top: 25%;
  left: 14%;
  text-align: left;
}
@keyframes sweep {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
@keyframes sweepDay {
  0% {
    transform: rotateZ(-105deg);
  }
  100% {
    transform: rotateZ(-104deg);
  }
}
.clock .hourHand {
  height: 5px;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 0 5% 5% 0;
  animation: sweepDay 86400s infinite;
  animation-timing-function: linear;
  transform-origin: 0 50%;
}
.clock .minuteHand {
  height: 5px;
  width: 21%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  animation: sweep 3600s infinite;
  animation-timing-function: linear;
  transform-origin: 0 50%;
}
.clock .sweep {
  height: 2px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d62338;
  z-index: 1;
  animation: sweep 60s infinite;
  animation-timing-function: linear;
  transform: rotateZ(-105deg);
  transform-origin: 0 50%;
}
.clock .sweepCover {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #d62338;
  width: 9px;
  height: 9px;
  z-index: 1;
  border-radius: 50%;
}
.clock .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.messages {
  background: linear-gradient(#69ff67, #28a800);
}
.messages .bubble {
  position: absolute;
  top: 17%;
  left: 13%;
  right: 13%;
  bottom: 21.5%;
  border-radius: 50%;
  background: #fff;
}
.messages .triangle {
  position: absolute;
  width: 70px;
  height: 24px;
  bottom: 0px;
  left: 25px;
  border-radius: 50%;
  background: #fff;
  transform: rotate(-34deg);
}
.messages .triangle:before {
  content: '';
  width: 30px;
  height: 13px;
  border-radius: 50%;
  background: yellow;
  position: absolute;
  display: block;
  top: 0;
  left: -8px;
  transform: rotate(-20deg);
  background: linear-gradient(#38bd19, #33b711);
}
.messages .reverse-corner {
  position: absolute;
  background: #fff;
  width: 7px;
  height: 7px;
  bottom: -5px;
  left: 66px;
  transform: rotate(23deg);
}
.messages .reverse-corner:after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50% 0 0 0;
  position: absolute;
  display: block;
  top: -1px;
  left: -1px;
  background: linear-gradient(#38bd19, #33b711);
}

.music {
  background: linear-gradient(#f73f28 0%, #f62336 50%, #f60044);
}
.music .bar {
  position: absolute;
  top: 20%;
  left: 33.082706766917%;
  background: #fff;
  width: 36.84962406015%;
  height: 16.541353383459%;
  transform: skew(0, -10deg);
  border-radius: 5px 5px 0 0;
}
.music .bar .rounder {
  position: absolute;
  top: 90%;
  left: 6%;
  background: #f62c33;
  height: 20%;
  width: 88.5%;
  border-radius: 5px 5px 0 0;
}
.music .vertical {
  position: absolute;
  top: 37.593984962406%;
  left: 33.082706766917%;
  z-index: -1;
  width: 2%;
  height: 38.09022556391%;
  background: #fff;
}
.music .vertical:after {
  content: '';
  position: absolute;
  bottom: -18%;
  right: 0;
  z-index: 1;
  display: block;
  background: #fff;
  width: 45px;
  height: 33px;
  border-radius: 15px 0 20px 15px;
}
.music .vertical.right {
  top: 30%;
  left: 68%;
}
.music .vertical.right .reverseCorner {
  right: 100%;
  top: 64%;
}
.music .vertical.right .reverseCorner:before {
  bottom: 0px;
  right: 0px;
  background: linear-gradient(#f61f37, #f61b3a);
}
.music .vertical .reverseCorner {
  position: absolute;
  z-index: 1;
  top: 64%;
  right: 100%;
  background: #fff;
  width: 20px;
  height: 20px;
}
.music .vertical .reverseCorner:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0;
  background: #d62338;
  width: 25px;
  height: 25px;
  background: linear-gradient(#f61b39, #f6153c);
  border-radius: 0 0 8px 0;
}

.notes .notesWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  background: #fff;
  background: linear-gradient(#9a9a9a 0%, #ffffff 3%, #ffffff 100%);
  /* Chrome,Safari4+ */
  background-size: 100% 19.5%;
  background-position: 0 -20px;
  border-radius: 22.53125%;
}
.notes .header {
  height: 31.5%;
  width: 100%;
  display: block;
  box-shadow: 0 2px 4px #8b8b8b;
  position: absolute;
  border-bottom: 2px solid #d5a300;
  background: linear-gradient(#fed94c, #fcc200);
}
.notes .header:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -20%;
  background: transparent;
  border-bottom: 5px #9a9a9a dotted;
}

.passbook .passbookWrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 22.53125%;
}
.passbook .travel {
  width: 100%;
  height: 41.025641025641%;
  background: linear-gradient(#58bbfa, #4a9acb);
}
.passbook .movies {
  position: relative;
  width: 100%;
  height: 38.461538461538%;
  margin-top: -9.8%;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#45d100, #2bb603);
}
.passbook .movies .cutout {
  position: absolute;
  width: 25%;
  height: 40px;
  left: 50%;
  top: -8px;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.passbook .movies .cutout:before {
  content: '';
  position: absolute;
  left: 0;
  top: -35px;
  display: block;
  background: #50a7de;
  width: 100%;
  height: 70px;
  background: linear-gradient(#52ade6, #4a9acb);
  box-shadow: inset 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.passbook .movies .projector {
  top: 17%;
  transform: scale(0.9, 0.9);
}
.passbook .movies .projectorBody {
  position: absolute;
  top: 100%;
  left: 6%;
  background: #fff;
  width: 70%;
  height: 50%;
  border-radius: 1px;
}
.passbook .movies .projectorBody:before, .passbook .movies .projectorBody:after {
  content: '';
  position: absolute;
  top: -115%;
  left: -19%;
  background: #3cc801;
  border: 4px solid #fff;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.passbook .movies .projectorBody:after {
  left: auto;
  right: -19%;
}
.passbook .movies .lens {
  position: absolute;
  right: -9%;
  top: 92%;
  display: block;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-right-color: #fff;
  transform: scale(0.9);
}
.passbook .dining {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 38.461538461538%;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ff9f02, #ffa200);
}
.passbook .dining .teeth {
  position: absolute;
  top: -13px;
  left: -6px;
  width: 0;
  height: 0;
  display: block;
  border: 8px solid transparent;
  border-bottom-color: #ff9f02;
}
.passbook .dining .teeth:before, .passbook .dining .teeth:after {
  content: '';
  position: absolute;
  top: -8px;
  left: 6px;
  width: 0;
  height: 0;
  display: block;
  border: 8px solid transparent;
  border-bottom-color: #ff9f02;
}
.passbook .dining .teeth:after {
  top: -8px;
  left: 20px;
}
.passbook .dining .teeth.t1 {
  left: 35px;
}
.passbook .dining .teeth.t2 {
  left: 78px;
}
.passbook .dining .teeth.t3 {
  left: 120px;
}
.passbook .dining .teeth.t4 {
  left: 162px;
}
.passbook .dining .teeth.t5 {
  left: 204px;
}
.passbook .dining .teeth.t6 {
  left: 246px;
}
.passbook .dining .teacup {
  overflow: hidden;
  top: 25%;
}
.passbook .dining .teacup .cup {
  position: absolute;
  top: -35%;
  right: 0;
  z-index: 1;
  width: 85%;
  height: 85%;
  background: #fff;
  border-radius: 50%;
}
.passbook .dining .teacup .cup:after {
  content: '';
  position: absolute;
  top: 40%;
  left: -15%;
  width: 4px;
  height: 4px;
  border: 2px solid #fff;
  background: #ff9f01;
  border-radius: 50%;
}
.passbook .dining .teacup .base {
  position: absolute;
  z-index: 0;
  top: 52%;
  left: 33%;
  width: 50%;
  height: 2px;
  background: #fff;
}

.pbIcon {
  position: absolute;
  top: 11%;
  left: 10%;
  width: 13%;
  height: 0;
  padding: 12% 0 0;
}

.plane .body {
  position: absolute;
  top: 42%;
  left: 0;
  background: #fff;
  height: 15.789473684211%;
  width: 100%;
  border-radius: 0 10px 10px 0;
}
.plane .body .wing {
  position: absolute;
  top: -130%;
  left: 14%;
  background: #fff;
  display: block;
  height: 70%;
  width: 50%;
  transform: rotateZ(55deg) skew(-45deg);
}
.plane .body .wing:after {
  content: '';
  position: absolute;
  top: -40%;
  left: 0%;
  display: block;
  background: #fff;
  width: 100%;
  height: 70%;
  transform: rotateZ(-10deg);
}
.plane .body .wing.bottom {
  top: 180%;
  transform: rotateZ(-45deg) skew(45deg) translate3d(1px, 0px, 0);
}
.plane .tail {
  position: absolute;
  left: 0;
  top: 25%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left-color: #fff;
  border-left-width: 8px;
}

.newsstand {
  background: linear-gradient(#fcfdfd 0%, #edebec 80%, #fcfdfd 81%, #fcfdfd 100%);
}
.newsstand:after {
  content: 'Newsstand';
}
.newsstand div {
  bottom: 19.65811965812%;
}
.newsstand .news {
  position: absolute;
  z-index: -3;
  left: 11.965811965812%;
  width: 48.717948717949%;
  height: 67.230769230769%;
  background: #cfd1d0;
}
.newsstand .art {
  position: absolute;
  left: 5.982905982906%;
  z-index: -2;
  width: 33.333333333333%;
  height: 45.008547008547%;
  background: #fdcc00;
}
.newsstand .art .square {
  position: absolute;
  bottom: 10%;
  left: 13%;
  width: 32%;
  height: 0;
  padding: 32% 0 0;
  background: #fe3c27;
}
.newsstand .art .square:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0da8f2;
  top: -120%;
  right: -65%;
  border-radius: 50%;
}
.newsstand .art .square:after {
  content: '';
  display: block;
  position: absolute;
  border: 17px solid transparent;
  border-bottom: 26px solid #fff;
  top: -110%;
  right: -160%;
}
.newsstand .travel {
  position: absolute;
  left: 30.769230769231%;
  z-index: -1;
  width: 38.461538461538%;
  height: 53.555555555556%;
  background: #1faade;
  overflow: hidden;
}
.newsstand .travel .plane {
  top: 35.384615384615%;
  left: 30%;
  z-index: 0;
  width: 40%;
  height: 20%;
  transform: rotateZ(-90deg);
}
.newsstand .travel .tail {
  top: 10px;
  left: -2px;
  border: 10px solid transparent;
  border-left-color: #fff;
  border-left-width: 10px;
}
.newsstand .travel .tail:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -75px;
  left: -160px;
  display: block;
  width: 150px;
  height: 150px;
  background: #70d6f2;
  transform: rotateZ(-45deg);
}
.newsstand .sports {
  position: absolute;
  left: 60.683760683761%;
  z-index: 5;
  width: 33.333333333333%;
  height: 41.025641025641%;
  background: #35b249;
}

.photos {
  background: #fff;
}
.photos div {
  height: 40%;
  width: 27%;
  position: absolute;
  border-radius: 50px;
  mix-blend-mode: multiply;
}
.photos .top {
  background: linear-gradient(#e56500 0%, #f9b000 50%, #e6bf00 100%);
  left: 50%;
  top: 7%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.photos .bottom {
  background: linear-gradient(to top, #4f97d3 0, #6782c6 50%, #5d5fa7 100%);
  z-index: 1;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%, 0);
  z-index: 5;
}
.photos .left {
  background: linear-gradient(to right, #b969ab 0, #da6784 50%, #c72943 100%);
  left: 7%;
  top: 50%;
  transform: translate(0, -50%);
  height: 27%;
  width: 40%;
  z-index: 8;
}
.photos .right {
  background: linear-gradient(to left, #adc900 0, #82be3d 50%, #44912a 100%);
  z-index: 1;
  right: 7%;
  top: 50%;
  transform: translate(0, -50%);
  height: 27%;
  width: 40%;
  z-index: 3;
}
.photos .rotated {
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
}
.photos .rotated .top {
  background: linear-gradient(#e74c55 0, #e05d34 50%, #e25800 100%);
}
.photos .rotated .bottom {
  background: linear-gradient(to top, #58ab59 0, #63b2b5 50%, #3e86c7 100%);
}
.photos .rotated .left {
  background: linear-gradient(to left, #6e65af 0%, #966bb1 50%, #8e5399 100%);
}
.photos .rotated .right {
  background: linear-gradient(to left, #f9d500 0, #d1d500 50%, #a7c400 100%);
}

.weather {
  background: linear-gradient(#144bea, #2ec7f9);
}
.weather .sun {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 15%;
  display: block;
  width: 37.5%;
  height: 37.5%;
  background: #ffdc00;
  background: linear-gradient(#fab200, #fedf00);
  border-radius: 50%;
  transition: .3s all ease;
}
.weather .clouds {
  position: absolute;
  left: 21.875%;
  top: 31.25%;
  z-index: 1;
  height: 42.578125%;
  width: 62.5%;
  display: block;
  opacity: .9;
  transition: .3s all ease;
}
.weather .clouds .cloud {
  position: absolute;
  background: #fff;
  display: block;
  border-radius: 50%;
}
.weather .clouds .small {
  bottom: 0;
  left: 0;
  width: 36.875%;
  height: 54.128440366972%;
}
.weather .clouds .medium {
  top: 0;
  left: 18.4%;
  width: 58.125%;
  height: 88.073394495413%;
}
.weather .clouds .large {
  right: 0;
  bottom: 0;
  width: 50%;
  height: 73.394495412844%;
}
.weather .clouds .bottom {
  position: absolute;
  bottom: 0;
  left: 20%;
  height: 25%;
  width: 55%;
  background: #fff;
}
.weather:hover .sun {
  transform: translate3d(-5%, 0, 0);
}
.weather:hover .clouds {
  transform: translate3d(5%, 0, 0);
}

.videos {
  background: linear-gradient(to bottom, #4edf9b 31.5%, #48a6f2 100%);
}
.videos .overflow-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 22.53125%;
}
.videos .marker {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 15.75%;
  background: repeating-linear-gradient(45deg, #000 0px, #000 22px, #f3f3f2 23px, #f3f3f2 55px, #000 56px, #000 68px);
  border-bottom: 2px solid #000;
}
.videos .marker.bottom {
  top: 15.75%;
  background: repeating-linear-gradient(135deg, #000 0px, #000 22px, #f3f3f2 23px, #f3f3f2 55px, #000 56px, #000 68px);
  border-bottom-color: #3b514a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.videos .marker.bottom:before {
  position: absolute;
  z-index: 1;
  display: block;
  content: '';
  width: 100%;
  height: 90px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #fff, transparent);
  opacity: .2;
}

.health {
  background: #fff;
}
.health .heart {
  background: #FF004B;
  position: absolute;
  width: 60px;
  height: 60px;
  display: block;
  top: 77px;
  right: 70px;
  transform: rotate(-45deg);
  border-radius: 4px;
  z-index: 1;
}
.health .heart:before, .health .heart:after {
  display: block;
  content: '';
  width: 70px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}
.health .heart:before {
  right: -67%;
  top: -13px;
  transform: rotate(88deg);
  background: linear-gradient(-223deg, #FE528A, #FF004B 90%);
}
.health .heart:after {
  top: -45px;
  left: -4%;
  transform: rotate(12deg);
  background: linear-gradient(-150deg, #FE528A, #FF004B 90%);
}
.health .flange {
  display: none;
  background: blue;
  position: absolute;
  display: block;
  width: 86px;
  height: 22px;
  border-radius: 50%;
  top: 44px;
  right: -25px;
  transform: rotate(-1deg);
  background: linear-gradient(to left, #FF2265, #FF004B, #FF0032);
  z-index: -1;
}
.health .left-flange {
  right: 12px;
  transform: rotate(92deg);
  top: 6px;
  background: linear-gradient(to right, #FF2265, #FF004B, #FF0032);
}

.header,
.footer {
  padding: 16px;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .header,
  .footer {
    padding: 16px 32px;
  }
}

.header {
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.footer {
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1600px;
  margin: 77px auto 0 auto;
}

.logo {
  position: relative;
  vertical-align: middle;
  z-index: 1;
  line-height: 45px;
  text-align: center;
  white-space: nowrap;
  font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
}
.logo span {
  font-weight: normal;
  font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
  color: black;
  display: inline-block;
  width: 45px;
  padding: 0;
  background: white;
  border-radius: 22.53125%;
  text-align: center;
  position: relative;
}
.logo span.new:after {
  content: '3';
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: #f60000;
  top: -5px;
  right: -5px;
  display: block;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  font-size: 10px;
  font-size: 0.5rem;
  text-align: center;
  font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
}

#info-button {
  color: #000;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  width: 20px;
  transform: translate(0, -10px);
  font-size: 75%;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 16px;
  z-index: 1;
}
@media screen and (min-width: 640px) {
  #info-button {
    right: 32px;
  }
}

/*# sourceMappingURL=styles.css.map */
