*{
	box-sizing: border-box;
	@include font-fix();
}

html{
	font-size: $base-font-size;
}

body{
	background: #cfd1d0;
	color: $black;
	font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}


h1{
	margin: 0;
	font-weight: normal;
	font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
	@include font-size(20px); 

	@media screen and (min-width: $grid-width){
		@include font-size(40px); 
	}

	
}

a{
	color: $black;

	&:hover{
		color: lighten($black, 20%);
	}
}