*{
	box-sizing: border-box;
	@include font-fix();
}

html{
	font-size: $base-font-size;
}

body{
	background: gray;
	color: $white;
	font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}


h1{
	margin: 0;
	font-weight: bold;
	font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
	@include font-size(40px); 

	@media screen and (min-width: $grid-width){
		@include font-size(60px); 
	}

	span{
		font-weight: normal;
		font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;

	}
}

a{
	color: $black;

	&:hover{
		color: lighten($black, 20%);
	}
}