*{
	box-sizing: border-box;
	@include font-fix();
}

html{
	font-size: $base-font-size;
}

body{
	background: $black;
	color: white;
	font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}


h1{
	margin: 0;
	font-weight: normal;
	font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;
	@include font-size(20px); 	
}

h2{
	@include font-size(20px); 	
}

a{
	color: $white;

	&:hover{
		color: lighten($black, 20%);
	}
}

.no-mix-blend-mode{
	.mix-blend-mode{
		display: none;
	}
}