.icon-wrapper{
	width: 100%;
	padding: ($padding / 2) ($padding / 2) ($padding * 2);
	flex-basis: 160px;
	transition: .5s ease all;
	height: 176px;

	@media screen and (min-width: 320px){
		
		
	}

	@media screen and (min-width: #{$grid-width}){
		padding: $padding $padding ($padding * 2);
		flex-basis: ($padding * 2) + $icon-size;
		height: auto;
	}
}

.icon{
	border-radius: $icon-radius;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	font-size: 200%;
	height: $icon-size;
	margin: 0 auto;
	position: relative;
	width: $icon-size;
	z-index: 0;
	transition: .5s ease all;
	-webkit-user-select: none;
	transform: scale(.5);
	transform-origin: 0 0;

	@media screen and (min-width: #{$grid-width}){
		transform: scale(1);
	}

	&:after{
		text-align: center;
		position: absolute;
		bottom: -20%;
		left: 0;
		width: 100%;
		color: $black;

		@include font-size(30px);
	}

	&.blank{
		background: none;
		box-shadow: 0, 0, 0, rgba(0,0,0,0);
	}

	&.wip{
		background-size: cover;
		background: url(../images/guide.png) no-repeat center;
	}
}