.icon-wrapper{
	width: 100%;
	padding: $padding $padding ($padding * 2);
	flex-basis: ($padding * 2) + $icon-size;
	transition: .5s ease all;
}

.icon{
	border-radius: 22.53125%;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	font-size: 200%;
	height: $icon-size;
	margin: 0 auto;
	position: relative;
	width: $icon-size;
	z-index: 0;
	transition: .5s ease all;
	-webkit-user-select: none;

	&:after{
		text-align: center;
		position: absolute;
		bottom: -20%;
		left: 0;
		width: 100%;
		color: #fff;

		@include font-size(30px);
	}

	&.blank{
		background: none;
		box-shadow: 0, 0, 0, rgba(0,0,0,0);
	}

	&.wip{
		background-size: cover;
		background: url(../images/guide.png) no-repeat center;
	}
}