.header,
.footer{
	padding: ($padding / 2);
	width: 100%;

	@media screen and (min-width: $grid-width){
		padding: ($padding / 2) $padding;
	}
}

.header{
	background: rgba(0,0,0,.95);
	color: $white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.footer{
	text-align: center;
}

.wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1600px;
	margin: 77px auto 0 auto;

	// @media screen and (min-width: #{$grid-width}){
	// 	padding: ($padding / 2);
	// }
}

.logo{
	position: relative;
	vertical-align: middle;
	z-index: 1;
	line-height: 45px;
	text-align: center;
	white-space: nowrap;
	
	span{
		font-weight: normal;
		font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
		color: black;
		display: inline-block;
		width: 45px;
		padding: 0;
		background: white;
		border-radius: $icon-radius;
		text-align: center;
		position: relative;

		// @media screen and (min-width: $grid-width){
		// 	width: 90px;
		// }

		&.new{
			&:after{
				content: '3';
				width: 15px;
				height: 15px;
				line-height: 15px;
				background: #f60000;
				top: -5px;
				right: -5px;
				display: block;
				color: $white;
				position: absolute;
				border-radius: 50%;
				@include font-size(10px);
				text-align: center;
				font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;

				// @media screen and (min-width: $grid-width){
				// 	width: 35px;
				// 	height: 35px;
				// 	line-height: 35px;
				// 	font-size: 20px;
				// 	top: -12px;
				// 	right: -12px;
				// }
			}
		}
	}

	// @media screen and (min-width: $grid-width){
	// 	line-height: 90px;
	// }
	
}

#info-button{
	color: $black;
	font-weight: bold;
	background: rgba(255,255,255,.75);
	border-radius: 50%;
	width: 30px;
	transform: translate(0, -15px);
	text-decoration: none;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: ($padding / 2);
	z-index: 1;

	@media screen and (min-width: $grid-width){
		right: $padding;
	}
}