.header,
.footer{
	padding: ($padding / 2);
	width: 100%;

	@media screen and (min-width: $grid-width){
		padding: $padding;
	}
}

.header{
	background: $black;
	color: $white;
}

.footer{
	text-align: center;
}

.wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1600px;
	margin: 0 auto;
	padding: ($padding / 2) 0;

	// @media screen and (min-width: #{$grid-width}){
	// 	padding: ($padding / 2);
	// }
}

.logo{
	position: relative;
	vertical-align: middle;
	z-index: 1;
	line-height: 45px;
	text-align: center;
	
	span{
		font-weight: normal;
		font-family: 'HelveticaNeue-Light', Helvetica, sans-serif;
		color: black;
		display: inline-block;
		width: 45px;
		padding: 0;
		background: white;
		border-radius: $icon-radius;
		text-align: center;
		position: relative;

		@media screen and (min-width: $grid-width){
			width: 90px;
		}

		&.new{
			&:after{
				content: '3';
				width: 15px;
				height: 15px;
				line-height: 15px;
				background: #f60000;
				top: -5px;
				right: -5px;
				display: block;
				color: $white;
				position: absolute;
				border-radius: 50%;
				@include font-size(10px);
				text-align: center;
				font-family: 'HelveticaNeue-Bold', Helvetica, sans-serif;

				@media screen and (min-width: $grid-width){
					width: 35px;
					height: 35px;
					line-height: 35px;
					font-size: 20px;
					top: -12px;
					right: -12px;
				}
			}
		}
	}

	@media screen and (min-width: $grid-width){
		line-height: 90px;
	}
	
}