.clock{
	background: black;

	&:after{
		content: 'Clock (iOS7)';
	}

	.face{
		position: relative;
		top: 6%;
		left: 6%;

		float: left;
		width: 88%;
		height: 88%;

		background: linear-gradient(#ebebeb,#ebebeb,#eeeeee);
		border-radius: 50%;
	}

	.number{
		@include font-size(22px);
		position: absolute;
		//font-family: Helvetica, sans-serif;
		box-sizing: border-box;
		padding: 5%;
		color: $black;
	}

	.twelveSix{
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		text-align: center;


		&:after{
			content: '6';
			position: absolute;
			bottom: 5%;
			left: 0;
			width: 100%;
		}

	}

	.oneEleven{
		top: 6%;
		bottom: 10%;
		left: 18%;
		width: 60%;	
		text-align: right;

		&:after{
			content: '11';
			position: absolute;
			top: 6%;
			left: 11%;
			text-align: left;
		}
	}

	.twoTen{
		top: 21%;
bottom: 20%;
right: 8%;
		width: 84%;	
		text-align: right;

		&:after{
			content: '10';
			position: absolute;
			top: 8%;
			left: 3%;
			text-align: left;
		}
	}

	.threeNine{
		top: 39.7%;
		left: 0;
		width: 100%;
		text-align: right;

		&:after{
			content: '9';
			position: absolute;
			left: 5%;
			width: 100%;	
			text-align: left;
		}
	}

	.fourEight{
		bottom: 21%;
		right: 8%;
		width: 84%;	
		text-align: right;

		&:after{
			content: '8';
			position: absolute;
			bottom: 21%;
			left: 5%;
			text-align: left;
		}
	}

	.fiveSeven{
		bottom: 6%;
		left: 18%;
		width: 60%;	
		text-align: right;

		&:after{
			content: '7';
			position: absolute;
			top: 25%;
			left: 14%;
			text-align: left;
		}
	}

	@keyframes sweep{
		0%{
			transform: rotateZ(0deg);
		}

		100%{
			transform: rotateZ(359deg);
		}
	}

	@keyframes sweepDay{
		0%{
			transform: rotateZ(-105deg);
		}

		100%{
			transform: rotateZ(-104deg);
		}
	}


	.hourHand{
		height: 5px;
		width: 35%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: black;

		border-radius: 0 5% 5% 0;

		animation: sweepDay 86400s infinite;
		animation-timing-function: linear;

		transform-origin: 0 50%;
	}

	.minuteHand{
		height: 5px;
		width: 21%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: black;
		
		animation: sweep 3600s infinite;
		animation-timing-function: linear;

		transform-origin: 0 50%;
	}

	.sweep{
		height: 2px;
		width: 30%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $red;
		z-index: 1;

		animation: sweep 60s infinite;
		animation-timing-function: linear;

		transform: rotateZ(-105deg);
		transform-origin: 0 50%;
	}

	.sweepCover{
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $red;

		width: 9px;
		height: 9px;
		z-index: 1;

		border-radius: 50%;
	}

	.center{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: black;
		width: 14px;
		height: 14px;

		border-radius: 50%;

	}
}