@import "elements.less";

.music{
	//.gradient(#ff5e35,#ff5e35,#ff2367);
	background: -webkit-gradient(linear,
                               left top,
                               left bottom,
                               color-stop(0, rgb(255,41,105)),
                               color-stop(.5, rgb(255,50,63)),
                               color-stop(1, rgb(255,93,58)));


	&:after{
		content: 'Music';
	}

	.bar{
		position: absolute;
		top: 20%;
		left: 33.082706766917%;

		background: #fff;

		width: 36.84962406015%;
		height: 16.541353383459%;

		-webkit-transform: skew(0, -10deg);
		-moz-transform: skew(0, -10deg);
		transform: skew(0, -10deg);

		.rounded(5px 5px 0 0);

		.rounder{
			position: absolute;
			top: 90%;
			left: 6%;
			background: #ff3756;

			height: 20%;
			width: 88.5%;

			.rounded(5px 5px 0 0);
		}
	}

	.vertical{
		position: absolute;
		top: 37.593984962406%;
		left: 33.082706766917%;
		z-index: -1;

		width: 2%;
		height: 38.09022556391%;
		background: #fff;

		&:after{
			content: '';
			position: absolute;
			bottom: -18%;
			right: 0;
			z-index: 1;

			display: block;
			background: #fff;
			width: 45px;
			height: 33px;

			.rounded(15px 0 20px 15px);

		}

		&.right{
			top: 30%;
			left: 68%;

			.reverseCorner{
				right: 110%;
				top: 64%;

				&:before{
					bottom: 0px;
					right: 0px;
				}
			}
		}

		.reverseCorner{
			position: absolute;
			z-index: 1;
			top: 63%;
			right: 100%;

			background: #fff;
			width: 20px;
			height: 20px;

			&:before{
				content: '';
				position: absolute;
				z-index: 1;
				bottom: 0px;
				right: 0;

				background: @red;
				width: 25px;
				height: 25px;

				.gradient(#ff4c44,#ff4c44,#ff4649);
				.rounded(0 0 8px 0);

			}

		}
	}
}