.notes{

	.notesWrap{
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
		background: #fff;
		background: linear-gradient(rgba(154,154,154,1) 0%, #ffffff 3%, #ffffff 100%); /* Chrome,Safari4+ */
		background-size: 100% 19.5%;
		background-position: 0 -20px;
		border-radius: 22.53125%;
	}

	.header{
		height: 31.5%;
		width: 100%;
		display: block;
		box-shadow: 0 2px 4px rgba(139,139,139,1);
		position: absolute;
		border-bottom: 2px solid rgba(213,163,0,1);
		background: linear-gradient(rgba(254,217,76,1), rgba(252,194,0,1));
		

		&:after{
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -20%;
			background: transparent;
			border-bottom: 5px rgba(154,154,154,1) dotted;

		}

		// &:before{
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	bottom: -20%;
		// 	background: transparent;
		// 	border-bottom: 5px #c7c6c4 dotted;

		// }

	}
}