.photos{

	background: #fff;

	.side{
		height: 40%;
		width: 27%;
		position: absolute;
		border-radius: 50px;
		mix-blend-mode: multiply;
	}



	.top{
		background: linear-gradient(#e56500 0%, #f9b000 50%, #e6bf00 100%);
		left: 50%;
		top: 7%;
		transform: translate(-50%,0);
		z-index: 1;

	}

	.bottom{
		background: linear-gradient(to top, #4f97d3 0, #6782c6 50%, #5d5fa7 100%);
		z-index: 1;
		left: 50%;
		bottom: 7%;
		transform: translate(-50%,0);
		z-index: 5;
	}

	.left{
		background: linear-gradient(to right, #b969ab 0, #da6784 50%, #c72943 100%);
		left: 7%;
		top: 50%;
		transform: translate(0,-50%);
		height: 27%;
		width: 40%;
		z-index: 8;

	}

	.right{
		background: linear-gradient(to left, #adc900 0, #82be3d 50%, #44912a 100%);
		z-index: 1;
		right: 7%;
		top: 50%;
		transform: translate(0,-50%);
		height: 27%;
		width: 40%;
		z-index: 3;
	}


	.rotated{
		transform: rotate(-45deg);
		width: 100%;
		height: 100%;
		mix-blend-mode: darken;

		.side{
			mix-blend-mode: multiply;
		}

		.top{ // Top Left
			background: linear-gradient(#e74c55 0, #e05d34 50%, #e25800 100%);
		}

		.bottom{ // Bottom Right
			background: linear-gradient(to top, #58ab59 0, #63b2b5 50%, #3e86c7 100%);
		}

		.left{ // Bottom Left
			background: linear-gradient(to left, #6e65af 0%, #966bb1 50%, #8e5399 100%);
		}

		.right{ // Top Right
			background: linear-gradient(to left, #f9d500 0, #d1d500 50%, #a7c400 100%);
		}
	}
}
